.add-items__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.add-items__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-items__name {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $font-gray-add;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.add-items__quantity,
.add-items__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $font-gray;
  margin: 0;
  padding: 0;
}

.add-items__price {
  text-transform: uppercase;
}

.add-items__measure__wrapper {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-items__item {
  padding-bottom: 18px;
  padding-top: 15px;
  border-bottom: 1px solid $font-gray;
}

.add-items__item:first-child {
  padding-top: 18px;
  border-top: 1px solid $font-gray;
}

.add-items__promo {
  position: relative;
  width: 160px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.add-items__promo::before {
  content: "";
  position: absolute;
  background: no-repeat url("../img/gift-white.png");
  width: 55px;
  height: 60px;
  top: -125px;
  left: 53px;
}

.add-items__promo__wrapper {
  background: no-repeat url("../img/gift-photo-mobile@1x.jpg");
  width: 160px;
  height: 54px;
  padding: 190px 60px 45px 60px;
}

@media (min-width: $tablet-width) {
  .add-items__promo__wrapper {
    background: no-repeat url("../img/gift-photo-tablet@1x.jpg");
    width: 165px;
    height: 95px;
    padding: 65px 123px 40px 420px;
    margin-top: 69px;
  }

  .add-items__promo::before {
    top: 0;
    left: -320px;
  }

  .add-items__measure__wrapper {
    width: 317px;
    margin: 0;
    padding: 0;
  }

  .add-items__name {
    width: 317px;
    margin-bottom: 29px;
  }

  .add-items__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 634px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 28px;
  }

  .button {
    width: 249px;
  }

  .add-items__button {
    width: 634px;
  }
}

@media (min-width: $desktop-width) {
  .add-items__promo::before {
    top: -125px;
    left: 53px;
  }

  .add-items__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .add-items__list {
    width: 895px;
  }

  .add-items__promo__wrapper {
    background: no-repeat url("../img/gift-photo-desktop@1x.jpg");
    width: 165px;
    height: 59px;
    padding: 190px 40px 40px 40px;
    margin-top: 0;
  }

  .add-items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 895px;
  }

  .add-items__quantity {
    margin: 0;
    padding: 0;
  }

  .add-items__measure__wrapper {
    width: 285px;
    margin: 0;
    padding: 0;
  }

  .add-items__name {
    width: 285px;
  }

  .button {
    margin: 0;
    width: 169px;
  }

  .add-items__button {
    width: 245px;
  }
}
