.contacts {
  margin: 0 auto;
}

.contacts__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  width: 127px;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
  width: 135px;
}

.contacts__list {
  width: 50%;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  margin: 0 auto;
}

.contacts-map {
  background: no-repeat url("../img/bg-map-mobile@1x.png");
  width: 100%;
  height: 360px;
  margin: 0 auto;
}

.contacts-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    padding-top: 35px;
    padding-bottom: 0;
    margin-top: 0;
  }

  .contacts-form {
    background-color: #f2f2f2;
  }

  .contacts-map {
    background: no-repeat url("../img/bg-map-tablet@1x.png");
    width: 100%;
    height: 398px;
  }

  .contacts__wrapper {
    width: 633px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 54px;
  }

  .contacts__invite,
  .contacts__address {
    width: 160px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &:first-child {
      margin-bottom: 20px;
    }
  }

  .contacts__list {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding-top: 0;

    &::before {
      display: none;
    }
  }

  .contacts-map {
    background: no-repeat url("../img/bg-map-desktop@1x.png");
    height: 400px;
    width: 100%;
    margin: 0 auto;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    display: flex;
    justify-content: space-between;
    width: 419px;
    background-color: #ffffff;
    padding: 65px 75px 62px 75px;
  }

  .contacts__invite {
    font-size: 20px;
    line-height: 25px;
    width: 180px;
    margin: 0;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    color: $font-gray;
    width: 167px;
    margin: 0;
    text-align: left;
  }
}
