.example__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.example {
  background-color: #f2f2f2;
  padding-top: 19px;
  padding-bottom: 50px;
}

.example__data__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.example__cell {
  position: relative;
  text-align: center;
  min-width: 122px;
  min-height: 54px;
  border: solid 1px #cdcdcd;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

.example__value {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 15px 10px;
}

.example__field {
  position: absolute;
  width: 60px;
  top: 33px;
  left: 15px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  text-transform: lowercase;

  padding-left: 15px;
  padding-right: 15px;
  background-color: #f2f2f2;
}

.example__low {
  display: flex;
  min-width: 200px;
  padding-left: 47px;
}

.example__price {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.example__description {
  width: 275px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.example__wrapper {
  margin-bottom: 36px;
}

.example__slider {
  position: relative;
}

.range__scale {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.range__bar {
  position: absolute;
  content: "";
  width: 35px;
  height: 6px;
  background-color: #68b738;
  /* border: 1px solid #cdcdcd; */
  border-radius: 10px;
  top: 4px;
  left: 6px;
  cursor: pointer;

  &:hover {
    background-color: #75cc40;
  }

  &:active {
    background-color: #63ab37;
  }
}

.range {
  position: absolute;
  bottom: -60px;
  left: 44px;

  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range p {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.example__slider-before {
  background: url("../img/before-mobile@1x.png");
  width: 311px;
  height: 232px;
  margin-bottom: 45px;
  margin-left: -20px;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/before-mobile@2x.png");
    background-size: 311px 232px;
  }
}

.example__slider-after {
  display: none;
  background: url("../img/after-mobile@1x.png");
  width: 311px;
  height: 232px;
  margin-bottom: 45px;

  @media (min-resolution: $retina-dppx) {
    background: url("../img/after-mobile@2x.png");
    background-size: 311px 232px;
  }
}

@media (min-width: $tablet-width) {
  .example__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .example__description {
    width: 680px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .example {
    position: relative;
    padding-top: 71px;
    padding-bottom: 60px;
    background-color: #ffffff;


  }


  .example__data {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }

  .example__data__wrapper {
    width: 367px;
    margin: 0;
  }

  .example__wrapper {
    margin-bottom: 85px;
  }

  .example__price {
    font-size: 20px;
    line-height: 20px;
    width: 185px;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-bottom: 10px;
  }

  .example__cell {
    width: 160px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__field {
    width: 130px;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ffffff;
    top: 62px;
    left: 10px;
  }

  .example__low {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 14px;
  }

  .example__slider-before {
    position: relative;
    background: url("../img/before-tablet@1x.png");
    width: 677px;
    height: 499px;
    margin: auto;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/before-tablet@2x.png");
      background-size: 677px 499px;
    }
  }

  .example__slider-after {
    display: none;
    background: url("../img/after-tablet@1x.png");
    width: 677px;
    height: 499px;
    margin: auto;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/after-tablet@2x.png");
      background-size: 677px 499px;
    }
  }

  .range {
    width: 570px;
    bottom: -60px;
    left: 67px;
  }

  .range p {
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;
    padding-bottom: 3px;

    &:hover {
      border-bottom: 1px solid #bebebe;
    }

    &:active {
      border-bottom: none;
    }
  }

  .range__scale {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
    border-radius: 10px;
  }

  .range__bar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ffffff;
    top: -15px;
    left: 200px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &:active {
      background-color: #ffffff;
      border: 1px solid #68b738;
      box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }
  }

  .range__bar-green {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
    top: 12px;
    left: 12px;
  }

}

@media (min-width: $desktop-width) {
  .example__header {
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    margin: 0;
    margin-top: -220px;
    margin-bottom: 144px;
  }

  .example__description {
    width: 435px;
    font-size: 16px;
    line-height: 24px;
    color: $font-gray;
    margin-bottom: 72px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
    color: #111111;
  }

  .example__field {
    font-size: 14px;
    line-height: 14px;
    color: $font-gray;
    background-color: $bg-gray;
  }

  .example__slider {
    position: relative;
  }

  .example__slider-before {
    content: "";
    position: absolute;
    background: url("../img/before-desktop@1x.png");
    width: 677px;
    height: 499px;
    top: -275px;
    right: -26px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/before-desktop@2x.png");
      background-size: 677px auto;
    }
  }

  .example__slider-after {
    display: none;
    content: "";
    position: absolute;
    background: url("../img/after-desktop@1x.png");
    width: 677px;
    height: 499px;
    // margin: auto;
    top: -268px;
    right: -26px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/after-desktop@2x.png");
      background-size: 677px auto;
    }
  }

  .example {
    display: flex;
    justify-content: space-between;
    padding-top: 85px;
    padding-bottom: 28px;
    margin-bottom: 0;
    background-color: $bg-gray;
  }

  .example__data {
    display: flex;
    flex-direction: column;
    width: 440px;
  }

  .example__low {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 390px;
    padding: 0;
  }

  .example__wrapper {
    width: 440px;
    margin-bottom: 36px;
  }

  .example__data__wrapper {
    margin-bottom: 65px;
  }

  .example__price {
    // width: 329px;
    justify-content: flex-start;
    margin-right: 20px;
    text-align: center;
  }

  .range {
    bottom: 43px;
    left: -570px;
  }
}
