.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.form__note {
  text-align: center;
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .form__button {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 283px;
    height: 52px;
    margin: 0;
  }

  .form__submit {
    display: flex;
    align-items: center;
    padding-left: 40px;
  }

  .form__note {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
    margin: 0;
    margin-left: 62px;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    width: 568px;
  }

  .form__submit {
    padding-left: 0;
  }

  .form__note {
    margin-left: 82px;
  }
}
