.form {
  margin-top: 15px;
  margin-bottom: 31px;
}

.green-line {
  overflow: hidden;
}

.main-header__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  width: 280px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
  padding-top: 17px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .form {
    margin-bottom: 73px;
  }

  .main-header__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    width: auto;
    padding: 0;
    padding-top: 54px;
    padding-bottom: 41px;
  }

  .main-header {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-bottom: 80px;
  }

  .main-header {
    width: 1220px;
    padding-left: 110px;
    padding-right: 110px;
    margin: 0 auto;
  }

  .main-header__title {
    padding-top: 74px;
  }
}
