.first-screen {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.first-screen__wrapper {
  position: relative;
  padding: 0;
  padding-top: 30px;

  &::after {
    content: "";
    position: absolute;
    background: no-repeat url("../img/index-can-mobile@1x.png");
    width: 280px;
    height: 270px;
    top: 168px;
    left: 20px;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/index-can-mobile@2x.png");
      background-size: 280px auto;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background: no-repeat url("../img/index-background-mobile@1x.jpg");
    width: 320px;
    height: 307px;
    background-color: #63a73a;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0 auto;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.first-screen__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}

.first-screen__moto {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-bottom: 302px;
}

.first-screen__button {
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .first-screen__header {
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
    margin: 0;
    padding-left: 86px;
    padding-right: 70px;
    padding-bottom: 43px;
  }

  .first-screen__moto {
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 86px;
    padding-bottom: 47px;
  }

  .first-screen__wrapper {
    position: relative;
    background: none;
    width: 100%;
    height: auto;

    padding-top: 1px;
    margin-bottom: 0;

    &::before {
      display: none;
    }
  }

  .first-screen__wrapper::after {
    content: "";
    position: absolute;
    background: no-repeat url("../img/index-can-tablet@1x.jpg");
    width: 709px;
    height: 609px;
    top: 203px;
    left: -1px;
    z-index: -1;

    @media (min-resolution: $retina-dppx) {
      background: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  .first-screen {
    width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 54px;
    padding-bottom: 505px;
  }

  .first-screen__button {
    font-size: 20px;
    line-height: 20px;
    margin-left: 89px;
    height: 52px;
    width: 245px;
  }
}

@media (min-width: $desktop-width) {
  .first-screen {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 188px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      background: no-repeat url("../img/index-background-desktop@1x.jpg");
      width: 50%;
      min-height: 694px;
      background-color: #63a73a;
      background-position: 0 0;
      background-size: cover;
      top: -114px;
      right: 0;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .first-screen__wrapper {
    box-sizing: border-box;
    width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 110px;
    padding-top: 106px;
    padding-bottom: 55px;

    &::after {
      content: "";
      position: absolute;
      background: no-repeat url("../img/index-can-desktop@1x.png");
      width: 552px;
      height: 499px;
      top: 25px;
      left: 450px;
      z-index: -1;

      @media (min-resolution: $retina-dppx) {
        background: url("../img/index-can-desktop@2x.png");
        background-size: 552px auto;
      }
    }
  }

  .first-screen__header {
    width: 450px;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 80px;
  }

  .first-screen__moto {
    margin: 0;
    padding: 0;
    padding-left: 80px;
    padding-bottom: 54px;
  }

  .first-screen__button {
    margin-left: 80px;
    width: 245px;
  }
}
