.first-screen {
  background-color: #63a73a;
  padding: 0 20px;
}

.first-screen__header {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;

  text-align: center;
}

.first-screen__moto {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
