.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 41px;
  padding-bottom: 26px;
  width: 320px;
  margin: 0 auto;
}

.footer__logo {
  display: block;
  width: 128px;
  padding-bottom: 28px;
  margin: 0 auto;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-left: 54px;
  padding-right: 63px;
  margin-bottom: 22px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__link {
  position: relative;
}

.social__item {
  .social__link {
    fill: #666666;
  }

  &:hover .social__link {
    fill: #68b738;
  }

  &:active .social__link {
    opacity: 0.3;
  }
}

.copyright__logo {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: $font-gray;
  margin: 0;
  padding: 0;
}

.footer__copyright {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__wrapper {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 63px;
    padding-bottom: 62px;
    margin: 0 auto;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .social {
    display: flex;
    width: 125px;
    margin: 0 auto;
    padding: 0;
    border: none;
    // padding-top: 0;
    // padding-bottom: 0;
    // padding-left: 54px;
    // padding-right: 63px;
    justify-content: space-between;
    margin-left: 155px;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    width: 162px;
    margin: 0;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
  }

  .copyright__text {
    margin: 0;
    padding: 0;
  }

  .copyright__wrapper {
    width: 162px;
    margin: 0;
  }

  .social__link--fbsvg {
    width: 14px;
    height: 28px;
  }

  .social__link--vksvg {
    width: 30px;
    height: 16px;
  }

  .social__link--instasvg {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  // .container {
  //   width: 1220px;
  //   margin: 0 auto;
  //   padding-left: 110px;
  //   padding-right: 110px;
  // }


  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 62px;
  }

  .social {
    width: 124px;
    margin: 0;
    margin-left: 17px;
    border: none;
    padding: 0;
    justify-content: space-between;
  }

  .social__link--fbsvg {
    width: 14px;
    height: 28px;
  }

  .social__link--vksvg {
    width: 30px;
    height: 16px;
  }

  .social__link--instasvg {
    width: 23px;
    height: 23px;
  }

  .copyright__wrapper {
    width: 164px;
    margin: 0;
  }

  .footer__logo {
    width: 128px;
    height: 24px;
    margin: 0;
    padding: 0;
  }
}
