.footer {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-top: 39px;
  padding-bottom: 20px;
  width: 320px;
  margin: 0 auto;
}

.footer__logo {
  display: block;
  width: 128px;
  padding-bottom: 33px;
  margin: 0 auto;
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.social__link {
  position: relative;
}

.social__link--fb::after {
  position: absolute;
  content: "";
  background: no-repeat url("../img/icon-fb.svg");
  top: 0;
  left: 0;
  width: 10px;
  height: 19px;
}

.social__link--vk::after {
  position: absolute;
  content: "";
  background: no-repeat url("../img/icon-vk.svg");
  top: 0;
  left: 0;
  width: 22px;
  height: 12px;
}

.social__link--insta::after {
  position: absolute;
  content: "";
  background: no-repeat url("../img/icon-insta.svg");
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.copyright__text {
  font-size: 16px;
  line-height: 16px;
  color: $font-gray;
}

.copyright__wrapper {
  display: flex;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .footer {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 65px 30px 60px 30px;
    margin: 0 auto;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social {
    width: 124px;
    margin: 0;
  }

  .footer__copyright {
    display: flex;
    align-items: center;
    width: 162px;
    margin: 0;
  }

  .footer__logo {
    margin: 0;
    padding: 0;
  }

  .copyright__text {
    margin: 0;
    padding: 0;
  }

  .copyright__wrapper {
    width: 162px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  // .container {
  //   width: 1220px;
  //   margin: 0 auto;
  //   padding-left: 110px;
  //   padding-right: 110px;
  // }


  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
    padding-bottom: 62px;
  }

  .social {
    width: 125px;
    margin: 0;
  }

  .copyright__wrapper {
    width: 164px;
    margin: 0;
  }

  .footer__logo {
    width: 128px;
    height: 24px;
    margin: 0;
    padding: 0;
  }
}
