.toggle-nav {
  position: relative;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 60px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    background: url("../img/icon-mobile-menu.svg");
    width: 24px;
    height: 18px;
  }
}

.main-nav__toggle--close {
  position: relative;
  cursor: pointer;
  border: none;
  width: 65px;
  height: 65px;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 0;
    background: url("../img/icon-close.svg");
    width: 18px;
    height: 18px;
  }
}

.header {
  padding: 0;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__top-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 5px;
}



.header-logo {
  padding: 0;
  margin: 0;
}

.header__logo-image {
  margin-top: 13px;
}

.header__logo-image:hover {
  opacity: 0.8;
}

.header__logo-image:active {
  opacity: 0.6;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;

  text-align: center;
}

.site-list__item a {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  &:hover {
    color: rgba($color:#111111, $alpha: 0.6);
  }

  &:active {
    color: rgba($color:#111111, $alpha: 0.3);
  }

}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  // .main-nav--opened .main-nav__list {
  //   display: block;
  // }

  &--active {
    display: block;
  }

  .main-nav--nojs .toggle-nav {
    display: none;
  }

  .toggle-nav--nojs {
    display: none;
  }

  .main-nav--nojs {
    display: block;
  }

  .header__top-wrapper {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 3px;
  }

}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-top: -2px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 11px;
  }

  .header__top-wrapper {
    padding: 0;
    display: block;
  }

  .main-nav__list {
    display: flex;
    width: 440px;
    justify-content: space-between;
    padding: 0;
    // margin-top: 40px;
  }

  .site-list__item a {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
    color: #222222;
  }

  .site-list__item {
    border: none;
    padding-bottom: 7px;
  }

  .toggle-nav {
    display: none;
  }

  .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }

  .header__logo img {
    width: 173px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    margin-top: -9px;
  }

  .main-nav__list {
    width: 480px;
  }

  .header {
    width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
  }

  .header__logo img {
    width: 202px;
    height: auto;
  }

  .header__logo-image {
    margin-top: 0;
  }

  .site-list__item {
    background: none;
    padding-bottom: 10px;
  }

  .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .site-list__item a {
    font-size: 20px;
    line-height: 24.86px;
    color: #ffffff;

    &:hover {
      color: #ffffff;
      opacity: 0.6;
    }

    &:active {
      color: #ffffff;
      opacity: 0.3;
    }
  }

  .site-list__item--inner a {
    color: #111111;

    &:hover {
      color: #111111;
      opacity: 0.6;
    }

    &:active {
      color: #111111;
      opacity: 0.3;
    }
  }

  .inner-page .site-list__item--active {
    border-bottom: 2px solid #68b738;
  }

}
