@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

a {
  text-decoration: none;
}

.button {
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #68b738;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  padding: 0;
  margin: auto;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}

@media (min-width: $mobile-width) {
  .container {
    width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-page,
  .inner-page {
    width: auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-page,
  .inner-page {
    width: auto;
  }
}
