.products__main-header {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}


.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__header {
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  width: 75px;
}

.products__item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.products__item p {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.properties__column {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  width: 140px;
}

.products__item--main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.button__all-products {
  background-color: #f2f2f2;
  color: #444444;
}

.button__all-products:hover {
  background-color: #ebebeb;
}

.button__all-products:active {
  color: rgba(68, 68, 68, 0.3)
}

.products__header--all {
  width: 220px;
  text-align: center;
}
