.weight-plan {
  padding-top: 22px;
}

.weight-plan__header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 71px;
}

.slim-plan,
.gain-plan {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 28px;
  padding-bottom: 22px;
}

.slim-plan {
  margin-bottom: 20px;
}

.weight-plan__description {
  margin: 0;
  padding: 0;
  margin-top: 29px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}


.weight-plan__button {
  display: block;
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 21px;

  &::after {
    content: "";
    position: absolute;
    background: url("../img/icon-right-arrow-long.svg");
    top: 3px;
    left: 97px;
    width: 24px;
    height: 11px;
  }
}


.weight-plan__button:hover::after {
  position: absolute;
  content: "";
  background: url("../img/icon-right-arrow-verylong.svg");
  top: 4px;
  left: 97px;
  width: 32px;
  height: 11px;
}

.weight-plan__button:active {
  color: rgba(17, 17, 17, 0.3);
}

.weight-plan__button:active::after {
  position: absolute;
  content: "";
  background: url("../img/icon-right-arrow-verylong.svg");
  top: 8px;
  left: 80px;
  width: 33px;
  height: 11px;
  color: rgba(17, 17, 17, 0.3);
}

.weight-plan__header--slim::after {
  content: "";
  position: absolute;
  background: no-repeat url("../img/icon-cat-slim.svg");
  width: 35px;
  height: 49px;
  top: 22px;
  left: 30px;
}

.weight-plan__header--slim::before {
  content: "";
  position: absolute;
  background: $btn-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 25px;
  left: 23px;
}

.weight-plan__header--pro::after {
  content: "";
  position: absolute;
  background: no-repeat url("../../img/icon-cat-pro.svg");
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
}

.weight-plan__header--pro::before {
  content: "";
  position: absolute;
  background: $btn-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 22px;
}

@media (min-width: $tablet-width) {
  .weight-plan__header {
    font-size: 36px;
    line-height: 37.02px;
    padding: 0;
  }

  .slim-plan,
  .gain-plan {
    padding: 76px 310px 59px 53px;
    margin-bottom: 30px;
  }

  .weight-plan__header--slim::before,
  .weight-plan__header--pro::before {
    top: 92px;
    right: 61px;
    left: auto;
    width: 200px;
    height: 200px;
  }

  .weight-plan__header--slim::after {
    top: 80px;
    right: 92px;
    left: auto;
    width: 140px;
    height: 194px;
  }

  .weight-plan__header--pro::after {
    top: 136px;
    right: 28px;
    left: auto;
    width: 268px;
    height: 112px;
  }

  .weight-plan__description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 37px;
    padding-top: 26px;
    border: none;
  }

  .weight-plan__description--pro {
    width: 343px;
  }

  .weight-plan__description--slim {
    width: 372px;
  }

  .weight-plan__button {
    font-size: 20px;
    line-height: 20px;

    &::after {
      top: 4px;
      left: 125px;
    }

    &:hover {
      &::after {
        top: 4px;
        left: 125px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .weight-plan__header {
    padding-left: 160px;
  }

  .weight-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .slim-plan,
  .gain-plan {
    padding: 77px 55px 62px 52px;
    width: 464px;
  }

  .weight-plan__header--slim::before,
  .weight-plan__header--pro::before {
    width: 100px;
    height: 100px;
    top: 48px;
    right: auto;
    left: 52px;
  }

  .weight-plan__header--pro::after {
    width: 134px;
    height: 56px;
    top: 70px;
    left: 34px;
  }

  .weight-plan__header--slim::after {
    width: 70px;
    height: 97px;
    top: 43px;
    left: 67px;
  }

  .weight-plan__description {
    padding-top: 74px;
    padding-bottom: 11px;
  }

  .weight-plan__description--slim {
    width: 466px;
  }

  .weight-plan__description--pro {
    width: 445px;
  }
}
